// Custom.scss

// Variable Overrides

// Bootstrap and its default variables
// @import "../bootstrap/scss/bootstrap";

// Sass Variables
$theme-midnight: #16253D;
$theme-dusk: #002c54;
$theme-ceramic: #CDCDC0;
$theme-font: "Helvetica";

// Fade then collapse
@keyframes hide {
      0% {
          opacity: 1;
      }
      75% {
          opacity: 0;
      }
      100% {
          opacity: 0;
          height: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
      }
}

body {
    // General theme
    font-family: $theme-font;
    height: 100%;
    color: #fff;

    // Input name page
    .name-div {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $theme-dusk;

      #nameForm {
        position: absolute;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-100%);
      }
    }

    // Split screen left-right
    .split {
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }

    // Left screen
    #channelList {
      width: 20%;
      left: 0;
      background-color: $theme-midnight;
    }

    // Right Screen
    #channelMessages {
      width: 80%;
      right: 0;
      background-color: $theme-dusk;
    }

    // Top Headers
    .top-div {
      width: 100%;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
    }

    // Channel and Message Feed
    .feed-div {
      width: 100%;
      height: calc(100% - 80px - 80px);
      position: absolute;
      top: 80px;
      overflow-y: scroll;
    }

    // Bottom input bar
    .input-div {
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: 0;
    }

    // Animation for deleting messages
    .message {
        animation-name: hide;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    small {
      color: $theme-ceramic;
    }

    .channel {
      width: 100%;
      cursor: pointer;
    }

    .channel:hover {
      background-color: $theme-dusk;
    }

    .active-channel {
      background-color: $theme-dusk;
    }
}

html, .container {
  height: 100%;
}
